doctype html
html(lang="en")
    head
        include partials/header
    body
        header.barra
            h1 UpTask - Project Admin
            a(href="/cerrar-sesion") Log Out

        main.contenedor
            aside.contenedor-proyectos
                .panel.crear-proyecto
                    a(href="/nuevo-proyecto" class="boton") New Project
                        span +
                .panel.lista-proyectos
                    h2 Projects
                    ul#proyectos.proyectos
                        if(proyectos.length)
                            each proyecto in proyectos
                                li
                                    a(href=`/proyectos/${proyecto.url}`)= proyecto.nombre
            block content

            //- pre= vardump(proyectos)
        include partials/scripts