doctype html
html(lang="en")
    head
        include partials/header
    body.login 
        .contenedor-formulario 
            h1= nombrePagina 
            p Add your E-mail to reset your password

            if locals.mensajes 
              .alertas 
                each categoria in Object.keys(locals.mensajes)
                  each error in mensajes[categoria] 
                    .alerta(class=`${categoria}`)
                      p= error

            form.caja-login(method="POST" action="/restablecer")
                .campo  
                    label(for="email")  E-mail:
                    input(type="email" name="email" placeholder="Your Email" required )
                .campo.enviar
                    input.boton(type="submit" value="Reset Password")
                .campo.acciones 
                    a(href="/iniciar-sesion") I remembered, return to Login
